body {
  background-color: #F7F9F9;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.content {
  min-height: 80vh;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2% 5%;
}

::selection {
  color: rgb(255, 255, 255);
  background-color: #fa198b;
}

@media (max-width: 430px) {
  .content {
    padding: 15px;
  }
}